.movieCard {
    width:100%;
    height:168px;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding:24px;
    gap:24px;
    cursor:pointer;
}
.movieImage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.movieInfo {
    width:100%;
    display: flex;
    flex-direction: column;
}
.movieName {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.movieGenre {
    font-style: italic;
}