.question {
    gap:24px;
    display: flex;
    flex-direction: column;
}
.questionAndAnswer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 8px;
    background-color: white;
    padding:24px;
    cursor:pointer;
}
.question {
    font-weight: 500;
}
.buttonUp {
    rotate: 180deg;
}
.answer {
    margin-top:16px;
    display: block;
}

