.pageContainer {
    background:#F8F8F8;
    display: flex;
    flex-direction: row;
}

.filterContainer {
    margin: 24px 32px;
    padding: 24px;
    height: 862px;
    width:408px;
    background: white;
    border-radius: 8px;
}
.filterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:16px;
    font-weight: 400;;
}
.textField, .selectField {
    height: 40px;
    width: 360px;
    left: 0px;
    top: 24px;
    border-radius: 8px;
    border: 1px solid #E1E3E6;
    padding: 10px 16px 10px 16px;
}
.textField::placeholder {
    color:#E1E3E6;
}
.fieldName {
    margin-bottom: 4px;
}