.qAndASection {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width:100%;
}
.questionsHeader {
    padding:24px;
    font-weight: 500;
    background-color: white;
    border-radius: 8px;
}
