.movie {
    width:100%;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding:24px;
    gap:24px;
}
.movieImage {
    background: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.movieInfo {
    width:100%;
    display: flex;
    flex-direction: column;
}
.movieNameAndAddToCart {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.details {
    margin-top: 24px;
}
.description {
    margin-top: 32px;
}
.text {
    margin-top: 16px;
}