/* .modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1100; 
    overflow: hidden;
} */
.modal {
    background: white;
    padding: 24px;
    border-radius: 8px;
    /* overflow-y: hidden; */
    /* z-index: 1200; */
}
.exit {
    cursor:pointer;
}
.modalHeader {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}
.description {
    margin: 16px 0 24px
}
.buttons {
    display: flex;
    gap:8px;
}
.buttonYes {
    font-size: 14px;
    background: #FF5500;
    border-radius: 8px; 
    color:white;
    padding: 11px 17px;
    border:none;
    cursor:pointer;
}
.buttonYes:hover {
    background: #E94E00;

}
.buttonNo {
    font-size: 14px;
    background: white;
    border-radius: 8px; 
    color:#FF5500;
    padding: 11px 15px;
    border:2px solid #FF5500;
    cursor:pointer;
}
.buttonNo:hover {
    border:2px solid #E94E00;
}