.header {
    display: flex;
    background: #333333;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    color:white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.headerTitle {
    font-weight: 700;
    font-size:32px;
}
.cartIconContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.quantity{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    width: auto;
    height: auto;
    background: #FF5500;
    border-radius: 8px;
}
.cartIcon {
    cursor:pointer;
}