.selectField {
    display: flex;
    flex-direction: row;
    color: #999FA6;
    justify-content: space-between;
    height: 40px;
    width: 360px;
    left: 0px;
    top: 24px;
    border-radius: 8px;
    border: 1px solid #E1E3E6;
    padding: 10px 16px 10px 16px;
    cursor:pointer;
}
.selectFieldActive {
    border: 1px solid #FF5500;
}
.buttonUp {
    rotate: 180deg;
}
.fieldName {
    margin-bottom: 4px;
}
.placeholder {
    font-size: 14px;
    color:#999FA6;
}